<!-- <app-crudform></app-crudform> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
</head>
<body>
  <!--this div for header component-->
  <div><app-header></app-header></div>

  <!--this div for navigation and crudform component(used routing)-->
  <!-- <div style="display: flex;"> -->
    <div>
    <div><app-navigation></app-navigation></div>
    <div><router-outlet></router-outlet></div>

  </div>
  <!--footer component-->
  <div id="pageFooter"><app-footer></app-footer></div>
  
</body>
</html>